<!DOCTYPE html>
<html> 
    <head> 
        <title>ReadMe</title> 
    </head> 
    <body> 
        <h1>Приложение авторизации и рефералов</h1> 
        <p> Приложение авторизует пользователя.(создаёт его, присваивает инвайт код и авторизует, если пользователя нет в базе данных)</p>
        <p>Также приложение позволяет приглашать других пользователей с помощью реферального кода. </p> 
        <p> По адресу 'profile/(Номер телефона)' вы можете посмотреть информацию о профиле. </p> 
        <p> Вводить инвайт код можно сколько угодно раз, но засчитывается только первый введенный. </p>
        <p>Информация о пользователях, которые ввели ваш инвайт код, представлена в разделе "Приглашенные пользователи" в вашем профиле. </p> 
    </body> 
</html>
